<h2>Clientes</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Documento</th>
    <th>Ações</th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.name %></td>
      <td><%= client.document %></td>
      <td><%= link_to('Excluir', client_path(client), data: { turbo_method: :delete, turbo_confirm: "Deseja excluir?" }) %></td>
    </tr>
  <% end %>
</table>

<style>
table, th, td {
  border:1px solid black;
}
</style>